export(
  fbati,
#  fbatj,
  fbatc,
  fbatge,
  fbatme,
  fbatgeAll,

  mergePhePed,
  nuclifyMerged,
  nuclify,

  strataReduce,

  fbatcStrategyStep, fbatcStrategyStepUp, fbatcStrategyStepDown, fbatcStrategyStepLatex,

  launchpad
)

import( tcltk )
import( pbatR )
import( fgui )
import( rootSolve )

S3method( print, fbatcSStep )

useDynLib(fbati, .registration=TRUE)



importFrom("stats", "optim", "pchisq", "qnorm", "rnorm", "runif")
importFrom("utils", "download.file", "getFromNamespace", "str",
           "write.csv")
            