export(
  fbati,
  fbatj,
  fbatc,
  fbatge,
  fbatme,
  fbatgeAll,

  mergePhePed,
  nuclifyMerged,
  nuclify,

  strataReduce,

  fbatcStrategyStep, fbatcStrategyStepUp, fbatcStrategyStepDown, fbatcStrategyStepLatex,

  launchpad
)

import( tcltk )
import( pbatR )

S3method( print, fbatcSStep )

useDynLib(fbati)